@font-face {
  font-family: 'Zina-Regular';
  src: url('./fonts/Zina/Zina-Regular.woff2') format('woff2'),
    url('./fonts/Zina/Zina-Regular.woff') format('woff'),
    url('./fonts/Zina/Zina-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Sentient-Regular';
  src: url('./fonts/Sentient/Sentient-Regular.woff2') format('woff2'),
    url('./fonts/Sentient/Sentient-Regular.woff') format('woff'),
    url('./fonts/Sentient/Sentient-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Tabular-Regular';
  src: url('./fonts/Tabular/Tabular-Regular.woff2') format('woff2'),
    url('./fonts/Tabular/Tabular-Regular.woff') format('woff'),
    url('./fonts/Tabular/Tabular-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  /* margin: 0 1rem; */
  display: flex;
  height: 100vh;
  width: 100%;
}

.container .left {
  width: 40%;
  background-image: url("./images/kristijan-arsov-tcw3nwoAgvs-unsplash.jpg");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-color: #008b8b;
}



.container .right {
  font-family: Sentient-Regular, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  font-size: 1.5rem;
  width: 60%;
  & > * {
    flex: 1;
    padding: 3rem;
  }
}

form {
  font-size: 1rem;
}

.form {
  background-color: #ffffff;
}