@font-face {
  font-family: 'Zina-Regular';
  src: url('./fonts/Zina/Zina-Regular.woff2') format('woff2'),
    url('./fonts/Zina/Zina-Regular.woff') format('woff'),
    url('./fonts/Zina/Zina-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Sentient-Regular';
  src: url('./fonts/Sentient/Sentient-Regular.woff2') format('woff2'),
    url('./fonts/Sentient/Sentient-Regular.woff') format('woff'),
    url('./fonts/Sentient/Sentient-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Tabular-Regular';
  src: url('./fonts/Tabular/Tabular-Regular.woff2') format('woff2'),
    url('./fonts/Tabular/Tabular-Regular.woff') format('woff'),
    url('./fonts/Tabular/Tabular-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  line-height: 1.5;
  min-width: 1000px;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

p {
  margin-bottom: 1em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.container .left {
  width: 40%;
  background-image: url("./images/kristijan-arsov-tcw3nwoAgvs-unsplash.jpg");
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-color: #008b8b;
  position: relative;
}

.odin-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #00000066;
  width: 100%;
  position: absolute;
  padding: .5rem;
  top: 15%;

  & img {
    width: 80px;
    height: auto;
  }

  & .logo-text {
    color: #fcfdfc;
    font-family: Zina-Regular;
    font-size: 5rem;
  }
}

.photo-credit {
  position: absolute;
  bottom: 1rem;
  color: #ffffff;
  text-wrap-mode: nowrap;
  width: 100%;
  text-align: center;

  & a {
    color: #ffffff;
  }
}

.container .right {
  font-family: Sentient-Regular;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  width: 60%;
  & > * {
    flex: 1;
  }
}

.description {
  font-size: 1.5rem;
  padding: 10rem 3rem 2rem;
  width: 80%;
}

.form {
  padding: 1rem 3rem 2rem;
  background-color: #ffffff;
  height: fit-content;

  & p {
  font-size: 1.5rem;
  }
}

.required-hint {
  margin-bottom: 1em;
  font-family: Tabular-Regular;
  font-size: .8rem;
  font-style: italic;
}

.asterisk {
  color: #a1a19a;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 5rem;
  width: 80%;

  & > div {
      display: flex;
      flex-direction: column;
      width: 40%;
    }

    & input {
      font-family: Tabular-Regular;
      padding: 0.2rem 0.5rem;
      border: 1px solid #E5E7EB;

      &:focus {
        border: none;
        outline: 2px solid #6d88d2;
        border-radius: 5px;
      }

      &[type="password"]:invalid {
        border: none;
        outline: 2px solid #db8989;
        border-radius: 5px;
      }

      &[type="password"]:valid:focus {
        border: none;
        outline: 2px solid #89dba2;
        border-radius: 5px;
      }
    }
}

.gain-access {
  padding: 1rem 3rem;

  & button {
    border: none;
    border-radius: 8px;
    padding: 0.75rem 4rem;
    color: #ffffff;
    background-color: #663b22;
    font-weight: 700;
    letter-spacing: 0.05rem;
    margin: 1rem 0;

    &:hover {
        cursor: pointer;
        background-color: #9e4711;
      }

    &:active {
      background-color: #000000;
    }
  }

  & a {
    text-decoration: none;
    color: #663b22;
  }
}