*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  line-height: 1.5;
}

.container {
  margin: 1rem;
  display: flex;
  height: 100vh;
  width: 100%;
}

/* .container > * {
  flex: 1;
} */

.container .left {
  width: 40%;
  background-image: url("./images/kristijan-arsov-tcw3nwoAgvs-unsplash.jpg");
}
.container .right {
  width: 60%;
  padding: 2rem;
}